.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 5rem;

    .inner_container{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    .form_element{
        padding: 5px 0px 25px 2px;
        width: 15%;
        margin-bottom: .5rem;
    }
    .form_element_text{
        padding: 5px 0px 25px 2px;
        width: 25%;
        margin-bottom: .5rem;
    }
}
.container_button{
    margin: 0 auto;
    display: block;
    width:40%;
    margin-top: 4rem;
}
.imageClass{
    align-self:flex-start;
    width: 300px;
    height: 300px;
}

button{
    width:100%
}

image{
    width: 100px;
    height: 100px;
}
