<mat-card class="card">
    <mat-card-content class="cardHeader">
        <mat-dialog-content class="actionsTopCard">
            <button (click)="onIncrement()" mat-raised-button color="warn">
                <mat-icon>add</mat-icon>
            </button>
            <button (click)="onAddToList()" mat-raised-button color="basic">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <button (click)="onDecrement()" mat-raised-button color="warn">
                <mat-icon>remove</mat-icon>
            </button>
        </mat-dialog-content>
    </mat-card-content>

    <mat-card-content class="cardHeader">
        <div class="myHeader">
            <tr>
                <h2>
                    {{product.name}}</h2>
            </tr>
            <tr>
                <mat-icon>star</mat-icon> {{product.required}}
            </tr>
        </div>
        <div class="myHeaderImg">
            <label class="imageClass"> 
                <img [src]="myImage" alt="No existe imagen" style="object-fit: cover; height: inherit; width: inherit;">
            </label>
        </div>
    </mat-card-content>
    <div class="hide">
        <h2>
            {{product.name}}
        </h2>
    </div>
  
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'100px'"  [expandedHeight]="'120px'">
          <mat-panel-title>
            <mat-dialog-content >
                <mat-card-content> Precio: {{product.price}}</mat-card-content>
            </mat-dialog-content>
          </mat-panel-title>
          <mat-panel-description>
            <mat-dialog-content class="cardcontent">
                <div> Cantidad: {{product.currentAmount}}</div>
                <div> Empresa: {{product.defaultCompany}}</div>
            </mat-dialog-content>
    </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card-content class="cardcontentinner">
            <mat-card-content> Min. Cantidad: {{product.minAmount}}</mat-card-content>
            <mat-card-content> Precio Unidad: {{product.unitPrice}}</mat-card-content>
            <mat-card-content> Unidades Producto: {{product.productAmount}}</mat-card-content>
            <mat-card-content> Tipo: {{product.typeAmount}}</mat-card-content>

        </mat-card-content>
    <mat-action-row >
        <mat-dialog-content class="actionsCard">
            <button (click)="onEdit()" mat-raised-button color="basic">
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onDelete()" mat-raised-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-dialog-content>
    </mat-action-row>
      </mat-expansion-panel>
</mat-card>
