<mat-toolbar color="primary">
  <a class="a" [routerLink]="['/']"><span>Inventario</span></a>
  <span class="space">
  </span>
      <input  matInput [(ngModel)]="toSearch" placeholder="Buscador">
      <button class="mouseHover" mat-raised-button (click)="search(toSearch)">
        <mat-icon>search</mat-icon>
      </button>
</mat-toolbar>

<mat-drawer-container class="global-content">
  <mat-drawer #drawer mode="side">
    <a [routerLink]="['/products']">Productos</a><br>
    <a [routerLink]="['/companies']">Empresas</a><br>
    <a [routerLink]="['/tag']">Tag</a><br>
    <a [routerLink]="['/type-unit']">Tipos</a><br>
    <a class="mouseHoverLogout" (click)="logout()" *ngIf="usuario">Cerrar sesión</a>

  </mat-drawer>
  <div>
    <button (click) = "drawer.toggle();">Mostrar/Ocultar</button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

